
/*10*/
.header {
    grid-area: header;
}

/*10*/
.footer {
    grid-area: footer;
}

/*10*/
.content {
    grid-area : main;
}

/*10*/
.title {
    grid-area : h1;
}

/*10*/
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 650px);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "header header"
      "h1 h1"
      "main main"
      "footer footer";
}